include /vars
block meta
  meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
block links
  link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png")
  link(rel="manifest" href="./assets/site.webmanifest")
  meta(name="author" content=name)
  meta(name="description" content=meta_description)
  meta(property="og:title" content=name + ' - ' + description)
  meta(property="og:description" content=meta_description)
  meta(property="og:type" content="website")
  meta(property="og:image" content=site_url + "/assets/opengraph.png")
  meta(name="twitter:card" content="summary_large_image")
block styles
  link(rel="stylesheet" href="assets/styles/index.sass")
title #{name}(#{section})
