section.synopsis
  h1.target#synopsis: a(href="#synopsis") synopsis
  .desc
    p #[b #{name}]
      |  --#[a(href="#sysadmin") sys-admin]
      |
      span.dimmer [#[em linux], #[em server] ...]
      |  --#[a(href='#devops') dev-ops]
      |
      span.dimmer [#[em cloud], #[em k8s], #[em iac] ...]
    p #[b #{name}]
      |  --#[a(href='#backend') back-end] --#[a(href="#automation") automation]
      |
      span.dimmer [#[em python], #[em shell] ...]
    p #[b #{name}]
      |  --#[a(href='#contrib') contrib]
      |
      span.dimmer [#[em opensource], #[em education] ...]
    p #[b #{name}]
      |  --#[a(href='#misc') misc]
      |
      span.dimmer [#[em selfhoster], #[em nerd] ...]
    p #[b #{name}]
      |  --#[a(href='#history') history] --#[a(href='#contact') contact]
      |
      span.dimmer [#[em --help]]
